.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1001px;
}

.u-section-1 .u-group-1 {
  width: 630px;
  min-height: 601px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 170px -13px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 0 40px;
}

.u-section-1 .u-form-1 {
  height: 376px;
  width: 447px;
  margin: 50px auto 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 698px;
  object-position: 50% 57.81%;
  margin: -572px auto 0 0;
}

.u-section-1 .u-list-1 {
  width: 1004px;
  grid-auto-rows: 100%;
  margin: -125px -13px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 157px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 31px 10px 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 18px 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 31px 10px 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 18px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-1 .u-group-1 {
    width: 554px;
    min-height: 516px;
    margin-top: 190px;
    margin-right: -34px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 16px;
    padding-left: 105px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 565px;
    height: 726px;
    margin-top: -650px;
    margin-left: -50px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -75px;
    margin-right: -25px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 132px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 8px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 40px;
    margin-left: 9px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 8px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 16px;
    margin-right: 40px;
    margin-left: 9px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 8px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-bottom: 35px;
  }

  .u-section-1 .u-image-1 {
    width: 250px;
    height: 491px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 221px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 68px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-1 .u-group-1 {
    width: 462px;
    margin-right: -11px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 35px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 226px;
    height: 294px;
    margin-top: -670px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 376px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1233px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 317px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 60px;
  }

  .u-section-1 .u-image-1 {
    height: 317px;
    width: 216px;
    margin-top: -836px;
    margin-right: 56px;
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 519px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 406px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 15px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 15px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 15px;
  }
}